@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My Jokes Application developed is in ASP.NET Core</a>.</p>



    <p>By Abhishek Pandita</p>
</div>
